*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;  
}

div{
    background-color: #ffdfb7;
    border: #ec6e00 solid 1px;
    margin: 20px;
    padding: 20px;

}

.important{
    background-color: #ec6e00;
    color: #ffdfb7;
}

.flexbox{
    display: flex;
    background-color: transparent;
    border: transparent;
}

.icon {
      width: 2em;
      height: 2em;
      vertical-align: -0.125em;
      color: black;
}

a{
    text-decoration: none;
    color: black; 
}

.a:hover{
    color: rgb(106, 106, 106);
}

nav{
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2em;
    padding-left: 2em;
}

.navmenu:hover{
    color: rgb(106, 106, 106);
}

h2{
    padding-bottom: 1em;
    font-size: 1.5em;
}

p{
    padding-bottom: 1em;
}

fieldset{
    padding: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

button{
    margin-top: 1em;
    margin-left: 1em;
}

label{
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

input{
    margin-left: 1em;
    margin-bottom: 1em;
}

select{
    margin-bottom: 1em;
}

button{
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    border: 0.1rem solid #ec6e00;
    border-radius: 1.5em;
    padding: 0.5em;
    background-color: #00000000;
    color: #ec6e00;
}

button:hover{
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    border: 0.1rem solid #ffdfb7;
    border-radius: 1.5em;
    padding: 0.5em;
    background-color: #ec6e00;
    color: #ffdfb7;
    
}

fieldset{
    border-radius: 1rem ;
    border-color: #ec6e00;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffc6955d;    
}

legend{
    padding: 0rem 0.5rem;
}

textarea{
    background-color: rgba(255, 250, 243, 0.447);
    border: none;
}


select{
    background-color: rgba(255, 250, 243, 0.447);
    border: none;
}

input{
    background-color: rgba(255, 250, 243, 0.447);
    border: none;
}



