* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

H1{
  font-family: 'Space Grotesk';
  color: #ededed;
  font-size: 4rem;
}

H2{
  font-family: 'Syne';
  color: #ededed;
  font-size: 3rem;
}

H3{
  font-family: 'Dm Sans';
  color: #ededed;
  font-size: 2rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #121212;
  color: #ededed;
  line-height: 1.6;
}

header {
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}


.OnAir{
  background-color: #4CE1B6;
  font-size: 3rem;
  color: #F7F3E3;
  padding: 1.5rem;
  border-radius: 10px;
}

nav a {
  font-family: 'Syne';
  color: #a0a0a0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
}

nav a:hover {
  color: #ededed;
  transition: 0.4s;
}

.searchbar{
background: radial-gradient(87.81% 1969.02% at 7.26% 50.88%, rgba(29, 101, 80, 0.2) 0%, rgba(58, 203, 161, 0.2) 100%);
border: 1px solid #000000;
border-radius: 38px;
}

:placeholder-shown{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

input{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

